

<h1> Year 11 Example Project Template 2123</h1>

This template holds the names of people in a database. He demonstrates the concepts of Angular, breaking your app into components and the use of local storage and the concept of CRUD (Create, Read, Update and Delete). The components here include <br>
- Add form (data to localstorage)<br>
- List of data (put data fron localstorage)<br>
- Home page<br>
- Services (contains functions that many components need to access - eg AddPerson)<br>
- Dialog ( has a dialogue box that is used when you want to delete a record)<br>
- horizontal-menu (which lists the menu items)



